<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>
    <!-- Page Content Holder -->
    <div id="content">
        <app-navbar></app-navbar>
        <div class="container">
            <b>Today</b>
            <div class="todo-content">
                <h1 class="page-title">My Todos</h1>
                <div class="todo-create">
                    <form [formGroup]="todoForm" (ngSubmit)="addTodo()" novalidate>
                        <input type="text" class="form-control" formControlName="title" placeholder="Write a todo...">
                    </form>
                </div>
                <ul class="todo-list">
                    <li *ngFor="let todo of todos" [class.completed]="todo.completed === true">
                        <div class="todo-row" *ngIf="!editing || editingTodo.id != todo.id">
                            <a class="todo-completed" (click)="toggleCompletedTodo(todo)">
                                <i class="material-icons toggle-completed-checkbox"></i>
                            </a>
                            <span class="todo-title">{{ todo.title }}</span>
                            <span class="todo-actions">
                                <a>
                                    <i class="material-icons" data-toggle="modal" data-target=".bd-example-modal-lg"
                                        (click)="getAllCommentByTodo(todo.id)">comment</i>
                                </a>
                                <a (click)="editTodo(todo)">
                                    <i class="material-icons edit">edit</i>
                                </a>
                                <a (click)="deleteTodo(todo.id)">
                                    <i class="material-icons delete">clear</i>
                                </a>
                            </span>
                        </div>
                        <div class="todo-edit" *ngIf="editing && editingTodo.id === todo.id">
                            <input class="form-control" type="text" [(ngModel)]="editingTodo.title" required>
                            <span class="edit-actions">
                                <a (click)="updateTodo(editingTodo)">
                                    <i class="material-icons">done</i>
                                </a>
                                <a (click)="clearEditing()">
                                    <i class="material-icons">clear</i>
                                </a>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="no-todos" *ngIf="todos && todos.length == 0">
                    <p>No Todos Found!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="material-icons">today</i> Today</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="comment-row">
                        <span class="page-title">{{ todo }}</span>
                    </div>
                    <div class="dropdown-divider"></div>
                    <p class="page-title">Comments</p>

                    <div class="comment-create">
                        <form [formGroup]="commentForm" (ngSubmit)="addComment()" novalidate>
                            <input type="text" class="form-control" formControlName="content" placeholder="Write a comment...">
                        </form>
                    </div>
                    <ul class="comment-list">
                        <li *ngFor="let comment of comments" [class.completed]="comment.isEdit === true">
                            <div class="comment-row" *ngIf="!editing || editingComment.commentId != comment.commentId">
                                <span class="comment-content">{{ comment.content }}</span>
                                <span class="comment-actions">
                                    <a (click)="editComment(comment)">
                                        <i class="material-icons edit">edit</i>
                                    </a>
                                    <a (click)="deleteComment(comment.commentId)">
                                        <i class="material-icons delete">clear</i>
                                    </a>
                                </span>
                            </div>
                            <div class="comment-edit" *ngIf="editing && editingComment.commentId === comment.commentId">
                                <input class="form-control" type="text" [(ngModel)]="editingComment.content" required>
                                <span class="edit-actions">
                                    <a (click)="updateComment(editingComment)">
                                        <i class="material-icons">done</i>
                                    </a>
                                    <a (click)="clearEditingComment()">
                                        <i class="material-icons">clear</i>
                                    </a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>